server:
  port: 8085

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: client-service
          uri: lb://client-service
          predicates:
            - Path=/api/clients/**
          filters:
            - StripPrefix=1
        - id: facture-service
          uri: lb://facture-service
          predicates:
            - Path=/api/factures/**
          filters:
            - StripPrefix=1
        - id: paiement-service
          uri: lb://paiement-service
          predicates:
            - Path=/api/paiements/**
          filters:
            - StripPrefix=1
        - id: notification-service
          uri: lb://notification-service
          predicates:
            - Path=/api/notifications/**
          filters:
            - StripPrefix=1

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

